{% extends 'main/layout.html' %}

{% block title %}Для правообладателей{% endblock %}

{% block content %}
    <h2>ДЛЯ ПРАВООБЛАДАТЕЛЕЙ</h2>
    <p>
        Если Вы являетесь обладателем исключительных прав на какой-либо материал, ссылка/ссылки на который находятся на
        данном сайте, и не желаете, чтобы эта информация была распространена без Вашего согласия, мы с удовольствием
        окажем Вам содействие и уберем соответствующие ссылки с сайта.
    </p>
    <p>Для этого вам нужно отправить письмо в электронном виде со следующей информацией:</p>
    <a><strong>1.</strong> Данные о продукте:</a>
    <a><strong>1.1.</strong> Название продукта - русское и английское (в случае наличия английской версии).</a>
    <a><strong>1.2.</strong> Официальная страница продукта в Интернете (в случае наличия).</a>
    <a><strong>1.3.</strong> Номер, присвоенный продукту по государственному реестру.</a>
    <a><strong>1.4.</strong> Для Юридического Лица/Правообладателя электронных изданий/программ для ЭВМ/баз данных -
        Копия документа о государственной регистрации.</a>
    <a><strong>2.</strong> Для Юридического Лица/Правообладателя кино- и видеоматериалов - Прокатное удостоверение
        (копия).</a>
    <a><strong>2.1.</strong> Данные о правообладателе:</a>
    <a><strong>2.2.</strong> Полное наименование юридического лица.</a>
    <a><strong>2.3.</strong> Почтовый адрес (в случае несовпадения юридического и почтового адреса – обязательное
        указание юридического адреса).</a>
    <a><strong>2.4.</strong> Сайт правообладателя в сети Интернет.</a>
    <a><strong>2.5.</strong> Лицензия на право деятельности (если таковая деятельность лицензируется в установленном
        законом порядке).</a>
    <a><strong>2.6.</strong> Контактное лицо правообладателя (ФИО, должность, телефон, email).</a>
    <a><strong>3.</strong> Данные лица, подающего жалобу.</a>
    <a><strong>3.1.</strong> ФИО.</a>
    <a><strong>3.2.</strong> Должность.</a>
    <a><strong>3.3.</strong> Телефон.</a>
    <a><strong>3.4.</strong> email.</a>
    <a><strong>3.5.</strong> Копия доверенности на действия от лица Правообладателя (не требуется в случае если лицо
        подающее жалобу – руководитель компании Правообладателя). Если жалобу подает не правообладатель, а его
        уполномоченный доверенностью представитель - юридическое лицо, следует предоставить копию доверенности на
        действия физического лица от лица компании, уполномоченной доверенностью Правообладателя (не требуется в случае,
        если лицо подающее жалобу - руководитель компании представителя).</a>
    <a><strong>4.</strong> Претензионные данные.</a>
    <a><strong>4.1.</strong> Адрес страницы сайта, которые содержат ссылки на данные, нарушающие права.</a>
    <a><strong>4.2.</strong> Полное описание сути нарушения прав (почему распространение данной информации запрещено
        Правообладателем).</a>
    <a><strong>5.</strong> Подписка о правомерности действий (заполняется от руки и высылается в отсканированном
        варианте). Обязательна для каждой жалобы.
    </a>
    <p><strong>Почта: </strong><a href="mailto:cupofseries@gmail.com">cupofseries@gmail.com</a></p>
    <p>Вы получите ответ в течение недели со дня отправления письма.</p>
{% endblock %}