{% extends 'main/layout.html' %}

{% block title %}{{ content.name }}{% endblock %}

{% block content %}
    <div class="stream-area">
        <div class="video-stream">
            <iframe id="iframe-player"
                    src="{{ content.path }}"
                    width="100%" height="150%" allowfullscreen style="border-radius: 20px; border: 0"></iframe>
            <div class="video-detail">
                <div class="video-content">
                    <div class="video-p-title anim" style="--delay: .2s">{{ content.name }} <strong>{{ content.season }}
                        сезон {{ content.series }} серия {{ content.series_name }}</strong></div>
                    <div class="video-p-subtitle anim" style="--delay: .3s">
                        {{ content.description }}
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-stream">
            <div class="chat">
                <div class="chat-header anim">Комментарии</div>
                <div class="message-container">
                    <div class="message anim" style="--delay: .1s">
                        <div class="msg-wrapper">
                            <div class="msg__name video-p-name">Человек Человек</div>
                            <div class="msg__content video-p-sub">Lorem ipsum clor sit, ame conse quae debitis</div>
                        </div>
                    </div>
                </div>
                <div class="chat-footer anim" style="--delay: .1s">
                    <input type="text" placeholder="Введите сообщение">
                </div>
            </div>
        </div>
    </div>
{% endblock %}