{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    {% load tz %}
    <div class="small-header anim" style="--delay: .3s">Последние</div>
    {% if contents.count == 0 %}
        <h3 class="anim" style="--delay: .3s">Тут пока пусто</h3>
    {% endif %}
    {% for content in contents %}
        <div class="videos">
            <div class="video anim" style="--delay: .4s">
                <div class="video-time">{{ content.duration }} мин</div>
                <a href="{% url 'content' content.pk %}">
                    <div class="video-wrapper">
                        <img src="{{ content.cover }}"
                             alt=""/>
                    </div>
                </a>
                <div class="video-name">{{ content.name }}</div>
                <div class="video-details">{{ content.season }} сезон {{ content.series }} серия</div>
                <div class="video-view">{{ content.views }} просмотр<span
                        class="seperate video-seperate"></span>{{ content.pub_date }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}