{% extends 'main/layout.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <form class="registration" method="post">
        {% csrf_token %}
        <h1>Авторизация</h1>

        <label for="id_username" class="pure-material-textfield-outlined">
            <input name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150"
                   placeholder=" " type="text" required id="id_username">
            <span>Никнейм</span>
        </label>

        <label for="id_password" class="pure-material-textfield-outlined">
            <input name="password" autocomplete="current-password" required id="id_password" placeholder=" "
                   type="password">
            <span>Пароль</span>
        </label>

        <button class="pure-material-button-contained" type="submit">Войти</button>
    </form>
{% endblock %}